# dependencias
/node_modules

# next
/.next/
/out/
next-env.d.ts

# bases de datos locales
*.db
*.db-journal
*.db-wal
*.db-shm
/data

# entornos
.env
.env.local
.env.local.example

# misc
.DS_Store
*.log
*.tsbuildinfo